.taskWrapper {
  width: 90%;
  margin: auto;
  margin-bottom: 4px;
  font-weight: 500;
  background-color: var(--secondary-background-color);
  border-radius: var(--form-border-radius);
}

.taskWrapper > div {
  padding: 5px;
}

.taskWrapperActive {
  height: max-content;
  padding: 5px 10px;
  border: 1px solid var(--main-color);
}
