MONGODB_URL=mongodb+srv://MONGO_USER_NAME:MONGO_PASSWORD@cluster0.zgfp40u.mongodb.net/MONGO_DB_NAME_db


MONGO_USER_NAME=string
MONGO_PASSWORD=string
MONGO_DB_NAME=string

HOW_MUCH_DISPLAY_SUGGESTIONS_IN_SEARCH=number