.svg {
  width: 22px;
  height: auto;
  cursor: pointer;
  text-align: center;
}

.managementWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.disabled {
  cursor: not-allowed;
}

.link {
  display: flex;
  align-items: center;
  width: 22px;
  height: auto;
}
