.buttonsWrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--header-form-gap);
}

.submitButton {
  min-width: 80px;
  width: 15%;
  height: 90%;
}

.collapseDownIcon {
  max-height: 90%;
  height: 90%;
  min-width: 35px;
  overflow: hidden;
  cursor: pointer;
}
