.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.taskFunctionForm {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 15px;
  min-width: 400px;
}

.submit {
  width: 80%;
  min-width: 60px;
  padding: 4px 8px;
  margin: 2px auto;
  font-size: inherit;
  border-radius: var(--form-border-radius);
  border: 1px solid var(--main-color);
  background-color: var(--main-background-color);
  color: inherit;
  outline: none;
  cursor: pointer;
}
