.formWrapper {
  --header-form-gap: 20px;
}

.formWrapper {
  color: var(--main-color);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--header-form-gap);
  align-items: center;
  font-size: large;
}

.formElements {
  padding: 4px 8px;
  margin: 2px;
  font-size: inherit;
  border-radius: var(--form-border-radius);
  border: 1px solid var(--main-color);
  background-color: var(--main-background-color);
  color: inherit;
}

.inputWrapper {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  width: 60%;
}

.input {
  width: 100%;
}

.input::placeholder {
  color: var(--main-color);
}

.input:focus {
  outline: 1px solid var(--main-color);
}

.errorWrapper {
  width: 100%;
  text-align: left;
  height: auto;
}

/* Mobile */
@media (max-width: 700px) {
  .formWrapper {
    margin: 0 20px;
  }

  .form {
    flex-direction: column;
    width: 100%;
  }

  .inputWrapper {
    width: 90%;
  }
}
