.formWrapper {
  --header-form-gap: 20px
}

.formWrapper {
  /* width: 90%;
  margin: auto; */
  color: var(--main-color);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--header-form-gap);
  align-items: center;
  font-size: large;
}

.formElements {
  padding: 4px 8px;
  margin: 2px;
  font-size: inherit;
  border-radius: var(--form-border-radius);
  border: 1px solid var(--main-color);
  background-color: var(--main-background-color);
  color: inherit;
}

.input {
  width: 60%;
}

.input::placeholder {
  color: var(--main-color);
}

.input:focus {
  outline: 1px solid var(--main-color);
}

.buttonsWrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--header-form-gap);
}

.submitButton {
  min-width: 80px;
  width: 15%;
  height: 90%;
}

.collapseDownIcon {
  max-height: 90%;
  height: 90%;
  min-width: 35px;
  overflow: hidden;
  cursor: pointer;
  color: var()
}